/* TODO this should all be namespaced */
/* TODO cleanup a lot */

button.btn {
  margin-right: 5px;
}

.btn-group button.btn {
  margin-right: 0;
}

form {
  position: relative;
}

.inline-form-actions {
  display: block;
  margin-top: 10px;
}

.blockfix {
  display: block;
}

.clearfix {
  clear: both;
}

.hint {
  color: grey !important;
}

.hide {
  display: none;
}

.well form {
  border: 0 !important;
  box-shadow: inset 0 !important;
  -webkit-box-shadow: inset 0 0 0;
  -moz-box-shadow: inset 0 0 0;
  padding-bottom: 0;
}

.alert li {
  margin-top: 10px;
}

.hide-input-errors .input-error {
  display: none;
}
