button.btn {
  margin-right: 5px;
}

form {
  position: relative;
}

.form-basic .inline-form-actions {
  display: block;
  margin-top: 20px;
}

.spinner {
  display: none;
  width: 16px;
  height: 11px;
  background-image: url("/packages/forms/public/spinner.gif");
}

.loading .spinner {
  display: inline-block;
}

.block-fix {
  display: block;
}

.help-block {
  color: grey;
}
