button.btn {
  margin-right: 10px;
}

.btn-group button.btn {
  margin-right: 0;
}

form {
  position: relative;
}

.form-basic .inline-form-actions {
  display: block;
  margin-top: 20px;
}

.spinner {
  display: none;
  width: 16px;
  height: 11px;
  background-image: url("/packages/forms/public/spinner.gif");
}

.loading .spinner {
  display: inline-block;
}

.blockfix {
  display: block;
}

.clearfix {
  clear: both;
}

.hint {
  color: grey !important;
}

.hide {
  display: none;
}
