button.btn {
  margin-right: 5px;
}

form {
  position: relative;
}

.form-basic .form-basic-actions {
  display: block;
  margin-top: 20px;
}

.spinner {
  display: inline-block;
  width: 16px;
  height: 11px;
  background-image: url("/packages/forms/public/spinner.gif") !important;
}

.hide {
  display: none;
}
