<template name="form">
  <form id="{{name}}Form" class="{{classes}}">
    {{> success}}
    <div class="formWrapper">
      {{> error}}
      {{#if fieldsets}}
        {{> fieldsets}}
      {{else}}
        {{> inputs}}
      {{/if}}
      {{{actions}}}
    </div>
  </form>
</template>

<template name="error">
  {{#if errors}}
    {{#with errors}}
      <div class="alert alert-error">{{reason}}</div>
    {{/with}}
  {{/if}}
</template>

<template name="success">
  {{#if success}}
    <p id="{{name}}Success" class="alert alert-success">{{success}}</p>
  {{/if}}
</template>

<template name="basicActions">
  {{#if actions}}
    {{#each actions}}
      {{> action}}
    {{/each}}
  {{/if}}
</template>

<template name="horizontalActions">
  <div class="form-actions">
    {{#if actions}}
      {{#each actions}}
        {{> action}}
      {{/each}}
    {{/if}}
  </div>
</template>

<template name="action">
  {{{render this}}}
</template>

<template name="fieldsets">
  {{#if fieldsets}}
    {{#each fieldsets}}
      <fieldset>
        <legend>{{name}}</legend>
        {{> inputs}}
      </fieldset>
    {{/each}}
  {{/if}}
</template>

<template name="inputs">
  {{#if inputs}}
    {{#each inputs}}
      {{{input}}}
    {{/each}}
  {{/if}}
</template>
