<template name="form">
  <form id="{{name}}Form" class="{{classes}}">
    <div class="formWrapper">
      {{> success}}
      {{> errorsReason}}
      {{#if fieldsets}}
        {{> fieldsets}}
      {{else}}
        {{> inputs}}
      {{/if}}
      {{{actions}}}
    </div>
  </form>
</template>

<template name="errorsReason">
  {{#if errors}}
    {{#with errors}}
      <div class="alert alert-error">{{reason}}</div>
    {{/with}}
  {{/if}}
</template>

<template name="success">
  {{#if success}}
    <p id="{{name}}Success" class="alert alert-success">{{success}}</p>
  {{/if}}
</template>

<template name="basicActions">
  <span class="form-basic-actions">
    {{#if actions}}
      {{#each actions}}
        {{> action}}
      {{/each}}
    {{/if}}
  </span>
</template>

<template name="horizontalActions">
  <div class="form-actions">
    {{#if actions}}
      {{#each actions}}
        {{> action}}
      {{/each}}
    {{/if}}
  </div>
</template>

<template name="action">
  {{{render this}}}
</template>

<template name="fieldsets">
  {{#if fieldsets}}
    {{#each fieldsets}}
      <fieldset>
        <legend>{{name}}</legend>
        {{> inputs}}
      </fieldset>
    {{/each}}
  {{/if}}
</template>

<template name="inputs">
  {{#if inputs}}
    {{#each inputs}}
      {{{input}}}
    {{/each}}
  {{/if}}
</template>

<template name="textError">
  <!-- div and p break this for some reason, TODO: create GH issue -->
  <span style="display:block">{{this}}</span>
</template>
