<template name="form">
  <form id="{{name}}Form" class="{{classes}}">
    <div class="formWrapper">
      {{> notice}}
      {{{inputs}}}
      {{{actions}}}
    </div>
  </form>
</template>

<template name="notice">
  {{#if notice/success}}
    <div class="alert alert-success">{{notice/success}}</div>
  {{/if}}
  
  {{#if notice/errors}}
    <div class="alert alert-error">{{notice/errors/reason}}</div>
  {{/if}}
</template>

<template name="fieldsets">
  {{#each fieldsets}}
    <fieldset>
      <legend>{{name}}</legend>
      {{> inputs}}
    </fieldset>
  {{/each}}
</template>

<template name="inputs">
  {{#each inputs}}
    {{{input}}}
  {{/each}}
</template>

<template name="blockActions">
  <div class="form-actions">
    {{> actions}}
  </div>
</template>

<template name="inlineActions">
  <span class="inline-form-actions">
    {{> actions}}
  </span>
</template>

<template name="actions">
  {{#each actions}}
    {{> action}}
  {{/each}}
  <span class="spinner" />
</template>

<template name="action">
  <button data-name="{{name}}" class="btn {{name}}Action {{classes}}" name="{{name}}">{{label}}</button>
</template>

<template name="errors">
  {{#if errors}}
    <p class="help-block">
      {{#each errors}}
        <!-- TODO Everything breaks if a block level element is used. This fixes things for now -->
        <span class="blockfix"><em>{{this}}</em></span>
      {{/each}}
    </p>
  {{/if}}
</template>
