body {
  margin: 20px;
}

h1, h3, h2 {
  margin-bottom: 10px;
}

h2 {
  margin-top: 20px;
}

.well, .tabbable {
  margin-top: 20px;
}

p {
  line-height: 20px;
}

li {
  line-height: 25px;
}

.userFormControls .spinner {
  margin: 9px 0 0 15px;
}

.userFormControls {
  margin-bottom: 40px;
}

.well form {
  border: 0 !important;
  box-shadow: inset 0 !important;
  -webkit-box-shadow: inset 0 0 0;
  -moz-box-shadow: inset 0 0 0;
}

.loading-message {
  margin: 5px 0 0 10px;
}
