body {
  margin: 20px;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

pre, .well, .tabbable {
  margin-top: 20px;
}

pre {
  padding: 20px !important;
  border: 1px solid #eee !important;
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
}
