<template name="basicCheckboxInput">
  <span class="control-group">
    <label class="checkbox">
      <input id="{{elementId}}" name="{{elementName}}" class="{{classes}}" type="checkbox" value="">
      {{#if label}}{{label}}{{/if}}
    </label>
    {{#if hint}}
      <span class="help-block">{{hint}}</span>
    {{/if}}
  </span>
</template>

<template name="horizontalCheckboxInput">
  <div class="control-group">
    <label class="checkbox" class="control-label" for="{{elementId}}">
      <div class="controls">
        <input id="{{elementId}}" name="{{elementName}}" class="{{classes}}" type="checkbox">
        {{#if label}} {{label}}{{/if}}
      </div>
    </label>
    {{#if hint}}
      <span class="help-block">{{hint}}</span>
    {{/if}}
  </div>
</template>
