<template name="basicTextInput">
  <span class="control-group {{#if errors}} error{{/if}}">
    {{#if label}}<label>{{label}}</label>{{/if}}

    <input id="{{id}}" name="{{name}}" type="text" class="{{classes}}" value="{{value}}" {{#if placeholder}}placeholder="{{placeholder}}"{{/if}} />

    {{#if showErrorsInline}}{{> errors}}{{/if}}
  </span>

  {{#if hint}}
    <span class="help-block hint">{{hint}}</span>
  {{/if}}

</template>

<template name="horizontalTextInput">
  <div class="control-group {{#if errors}} error{{/if}}">
    {{#if label}}<label class="control-label" for="{{id}}">{{label}}</label>{{/if}}

    <div class="controls">
      <input id="{{id}}" name="{{name}}" type="text" class="{{classes}}" value="{{value}}" {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}>

      {{#if showErrorsInline}}{{> errors}}{{/if}}
    </div>
  </div>

  {{#if hint}}
    <p class="help-block hint">{{hint}}</p>
  {{/if}}

</template>
