<template name="basicTextInput">
  <span class="control-group {{#if errors}} error{{/if}}">
    {{#if label}}<label>{{label}}</label>{{/if}}
    <input id="{{id}}" name="{{name}}" type="text" class="{{classes}}" {{#if placeholder}}placeholder="{{placeholder}}"{{/if}} />
  
    {{#if errors}}
      <p class="help-block">
        {{#each errors}}
          {{> textError}}
        {{/each}}
      </p>
    {{/if}}

    {{#if hint}}
      <span class="help-block">{{hint}}</span>
    {{/if}}
  </span>
</template>

<template name="horizontalTextInput">
  <div class="control-group">
    {{#if label}}<label class="control-label" for="{{id}}">{{label}}</label>{{/if}}
    <div class="controls">
      <input id="{{id}}" name="{{name}}" type="text" class="{{classes}}" {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}>
      {{#if hint}}
        <p class="help-block">{{hint}}</p>
      {{/if}}
    </div>
  </div>
</template>

<template name="textError">
  <!-- div and p break this for some reason, TODO: create GH issue -->
  <span style="display:block">{{this}}</span>
</template>
